{% load i18n staticfiles %}

<!-- About Park Area -->
<div id="about-park-area">

{#	<div class="about-top">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<!-- Area Title -->#}
{#				<div class="area-title col-sm-12 text-center">#}
{#					<span class="circle"></span>#}
{#					<h3>Lorem ipsum dolor sit amet</h3>#}
{#					<h1>Few Words About park</h1>#}
{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br /> eiusmod tempor ullamco laboris. </p>#}
{#				</div>#}
{#				<div class="col-md-10 col-md-offset-1">#}
{#					<div class="row">#}
{#						<!-- Single About -->#}
{#						<div class="sin-fact col-md-6">#}
{#							<div class="icon"><i class="mi-map"></i></div>#}
{#							<div class="content fix">#}
{#								<h2>Lorem ipsum dolor sit</h2>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#							</div>#}
{#						</div>#}
{#						<!-- Single About -->#}
{#						<div class="sin-fact col-md-6">#}
{#							<div class="icon"><i class="mi-star"></i></div>#}
{#							<div class="content fix">#}
{#								<h2>Lorem ipsum dolor sit</h2>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#							</div>#}
{#						</div>#}
{#						<!-- Single About -->#}
{#						<div class="sin-fact col-md-6">#}
{#							<div class="icon"><i class="mi-flower-alt"></i></div>#}
{#							<div class="content fix">#}
{#								<h2>Lorem ipsum dolor sit</h2>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#							</div>#}
{#						</div>#}
{#						<!-- Single About -->#}
{#						<div class="sin-fact col-md-6">#}
{#							<div class="icon"><i class="mi-paw"></i></div>#}
{#							<div class="content fix">#}
{#								<h2>Lorem ipsum dolor sit</h2>#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}

	<div class="about-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="home-map-container fix">
						<div class="map float-left">
							<div id="h-map">
                                  <ui-gmap-google-map center="$ctrl.map.center" options="$ctrl.map.options" zoom="$ctrl.map.zoom"   >
                                      <ui-gmap-marker ng-repeat="marker in $ctrl.markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                         <ui-gmap-window><div>[[marker.window.title]]</div></ui-gmap-window>
                                      </ui-gmap-marker>
                                  </ui-gmap-google-map>
                            </div>
						</div>
						<div class="home-map-content float-left">
							<h2>General information</h2>
							<p>{% blocktrans %} uCaptive is project by the State Department for Youth to close the digital gap, especially touching research studies.
                               It also tighly integrate with UNICEF's U-REPORT Guinea for youth profiling. To use the u-captive portal, be sure first to register at:
                            {% endblocktrans %} </p> <a ui-sref="ureport"><strong>U-Report Guinea</strong></a>
							<div class="home-map-info fix">
								<div class="sin-map-info area-info">
									<i class="mi-map"></i>
									<p>{%  trans "Sites" %}</p>
									<h4>77.7 ha</h4>
								</div>
								<div class="sin-map-info plant-info">
									<i class="mi-flower-alt"></i>
									<p>{%  trans "Reporters" %}</p>
									<h4>900</h4>
								</div>
								<div class="sin-map-info animal-info">
									<i class="mi-paw"></i>
									<p>{%  trans "Active" %}</p>
									<h4>232</h4>
								</div>
							</div>
							<div class="our-activities clearfix">
								<h4>{% trans "Live Usage" %}</h4>
								<div class="activities-container">
									<div class="sin-activities">
										<span class="activities-bar activities-bar-1" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 40%;"></span>
									</div>
									<div class="sin-activities">
										<span class="activities-bar activities-bar-2" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 100%;"></span>
									</div>
									<div class="sin-activities">
										<span class="activities-bar activities-bar-3" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 75%;"></span>
									</div>
									<div class="sin-activities">
										<span class="activities-bar activities-bar-4" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 70%;"></span>
									</div>
									<div class="sin-activities">
										<span class="activities-bar activities-bar-5" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 42%;"></span>
									</div>
									<div class="sin-activities">
										<span class="activities-bar activities-bar-6" data-toggle="tooltip" data-placement="bottom" data-original-title="Ecotourism" style="height: 83%;"></span>
									</div>
								</div>
							</div>
							<a href="#" class="map-exploer">{% trans "Refresh" %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
