<!-- Things Do To Area -->
<div id="thingsDoTo-area">
    <div class="container">
        <div class="row">
            <!-- Area Title -->
            <div class="area-title col-sm-12 text-center">
                <span class="circle"></span>
                <h3>Lorem ipsum dolor sit amet</h3>
                <h1>things to do</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br /> eiusmod tempor ullamco laboris. </p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <!-- Single Things do to -->
                    <div class="sin-things col-md-6">
                        <a href="#" class="image"><img src="{{ STATIC_URL  }}img/things/1.jpg" alt="things" /></a>
                        <div class="icon"><i class="mi-city"></i></div>
                        <div class="content fix">
                            <h2><a href="#">hotels</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  commodo consequat.</p>
                        </div>
                    </div>
                    <!-- Single Things do to -->
                    <div class="sin-things col-md-6">
                        <a href="#" class="image"><img src="{{ STATIC_URL  }}img/things/2.jpg" alt="things" /></a>
                        <div class="icon"><i class="mi-balance"></i></div>
                        <div class="content fix">
                            <h2><a href="#">camping</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  commodo consequat.</p>
                        </div>
                    </div>
                    <!-- Single Things do to -->
                    <div class="sin-things col-md-6">
                        <a href="#" class="image"><img src="{{ STATIC_URL  }}img/things/3.jpg" alt="things" /></a>
                        <div class="icon"><i class="mi-arrow-missed"></i></div>
                        <div class="content fix">
                            <h2><a href="#">wildlife</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  commodo consequat.</p>
                        </div>
                    </div>
                    <!-- Single Things do to -->
                    <div class="sin-things col-md-6">
                        <a href="#" class="image"><img src="{{ STATIC_URL  }}img/things/4.jpg" alt="things" /></a>
                        <div class="icon"><i class="mi-badge-check"></i></div>
                        <div class="content fix">
                            <h2><a href="#">eqipment</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>