<!doctype html>
{% load i18n staticfiles sekizai_tags compress %}
<html class="no-js" ng-app="app" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title ng-bind="pageTitle"></title>
    <meta name="description" content="uCaptive MJ Guinea">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav Icon
    ============================================ -->
    <link id="favicon" rel="icon" href="{% static 'img/favicon.ico' type='image/png' %}"  />
    <!-- Google web fonts
    ============================================ -->

    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- Icon Font CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-icon.css' %}"/>
    <!-- Animate CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"/>
    <!-- Owl & Slick Carousel CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
    <!-- Nivo Slider CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-slider.css' %}"/>
    <!-- MeanMenu CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.min.css' %}"/>
    <!-- Stylesheet CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>

    <!-- Modernizr JS
    ============================================ -->
    <script src="{% static 'vendor/modernizr-2.8.3.min.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

    <!-- move angular-ui-select to apps.layout  -->
    {% addtoblock extra_css %}<link href="{% static 'node_modules/angular-ui-select/select.min.css' %}" rel="stylesheet" />{% endaddtoblock %}

    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    {% render_block extra_css %}
</head>

<body ng-controller="LayoutCtrl as layout" data-spy="scroll" data-target="#onePage-nav">
{% block layout %}
{#    {%  include 'include/header.html' %}#}
    {%  include 'include/bookmarks.html' %}
    {%  include 'include/nav.html' %}
    {% block masthead %}{% endblock %}

    {% block page %}{% endblock %}

    {% block footer %}
{#    {%  include 'include/footer.html' %}#}
    {% endblock footer %}
{% endblock layout %}

<!-- jQuery 1.12.0
todo: bowerize to build around jquery 1.12.0
============================================ -->
<script src="{% static 'vendor/jquery-1.12.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.meanmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.nivo.slider.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.scrollup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery-price-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/wow.min.js' %}"></script>

{#<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/jquery.meanmenu/jquery.meanmenu.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/nivo-slider/jquery.nivo.slider.pack.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/scrollup/dist/jquery.scrollUp.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/smooth-scroll/smooth-scroll.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'bower_components/jQuery-One-Page-Nav/jquery.nav.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'vendor/jquery-price-slider.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'vendor/wow.min.js' %}"></script>#}
<!-- Google Map APi
============================================ -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>
<script>
    new WOW().init();
</script>
<!-- Main JS
============================================ -->
<script type="text/javascript" src="{% static 'js/map1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
<!-- Angular (vendors) JS
todo: convert to from...import'';
============================================ -->
{% addtoblock js %}<script src="{% static 'node_modules/angular/angular.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-sanitize/angular-sanitize.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/underscore/underscore-min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/restangular/dist/restangular.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/oclazyload/dist/ocLazyLoad.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-cookies/angular-cookies.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-ui-select/select.min.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'djng/js/django-angular.js' %}"></script>{% endaddtoblock js %}
{% addtoblock js %}<script src="{% static 'node_modules/angular-animate/angular-animate.min.js' %}"></script>{% endaddtoblock js %}
<!-- Angular (app) JS
============================================
{%  if debug %}
    {#{% addtoblock js %}<script type="text/es6" src="{% static 'js/app.js' %}"></script>{% endaddtoblock js %}#}
    {% compress js %}<script type="text/es6" src="{% static 'js/app.js' %}"></script>  {% endcompress %}
{% else %}
    <script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>
{% endif %}
-->
<script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>


{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
{% render_block "extra_js" %}
</body>
</html>
