{% load i18n staticfiles %}

<!-- Footer Area -->
<div id="footer-area">
	<div class="container">
		<div class="row">
			<!-- Footer Subscribe -->
			<div class="footer-sunscribe col-sm-12">
				<h1>subscribe to newsletter</h1>
				<form action="#" id="footer-sub-form" class="float-right">
					<input type="email" placeholder="Your email please" />
					<input type="submit" value="subscribe" />
				</form>
			</div>
			<!-- Footer Copyright & Navigation -->
			<div class="footer-bottom col-sm-12">
				<div class="copyright float-left"><p>Copyright &copy; <a href="http://www.codepixar.com">TechOutlooks Sarl</a> All Rights Reserved</p></div>
				<div class="footer-menu float-right">
					<nav>
						<ul>
							<li><a href="map-sidebar-4.html">About</a></li>
							<li><a href="map.html">Jeunesse.gov.gn</a></li>
							<li><a href="shop.html">Links</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
