{% load i18n staticfiles %}


<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
        <p class="text-xs-center">
          <a ui-sref="app.login"
            ng-show="$ctrl.authType === 'register'">
            {% trans "Have an account?" %}
          </a>
          <a ui-sref="app.register"
            ng-show="$ctrl.authType === 'login'">
            {% trans "Need an account?" %}
          </a>
        </p>

        {% include "include/form_snippet.html" with form=form %}

    </div>
</div>


